<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Buypower SmartBox", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Tokens", meter_tokens_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Customer Response" %></li>
      </ul>
    </nav>
  </div>
</header>